*/**/*.zip
*.htmlvalidate.json
*/**/spike.*
*/**/__pycache__/
*/**/*ignore

GettingReady/
IntroToProgramming/
WebBasics/
1ProgrammingBasics/

3Python/python/flask_mysql/intro/Pipfile
3Python/python/flask_mysql/intro/Pipfile.lock
