<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkerboard</title>
  <style>
    .flex {
      display: flex;
    }
    .red {
        background-color: red;
    }
    .black {
        background-color: black;
    }
    .square {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 0;
    }
    div {
      gap: 0;
    
    }
  </style>
</head>
<body>
  
  
  <main class="container" style="display:block">
    <p>Checkerboard should print</p>
    {% for x in range(0,rows): %}
      <div class="flex">
        {% for y in range(0,cols): %}
            {% if (x + y) % 2 == 0 %}
              <div class="square" style='background-color: {{color1}};'></div>
            {% else %}
              <div class="square" style='background-color: {{color2}};'></div>
            {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </main>
  {# This is a Jinja template comment.  Jinja between these tags will be ignored #}

</body>
</html>
