@import "dojo.css";
/* eventually test the appropriate way to store dojo.css & style.css in a styles/ folder */
/* is the import relative to style.css ? or relative to the project root? */
body {
  padding: 0 10%; /* Aim to remove the padding assignment via flex */
  flex-direction: column;
  height: 100vh;
}
.wrapper {
  flex: 1;
  gap: 1.5rem;
  /* justify-content: space-between; */
  padding: 1.5rem 0;
}
.left {
  flex: 2;
  /* justify-content: space-between; */
  gap: 1.5rem;
}
.right {
  flex: 1;
}
.right > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 3px solid black;
  padding: 15px;
  color: black;
}
.right p {
  font-size: x-large;
}
.right p > span {
  font-weight: bold;
}

.left > div {
}

.definition {
  height: 30vh;
}

header {
  flex: 0;

  /* flex-wrap: wrap; */
  padding: 0.5rem 1.5rem;
  /* gap: 1.5rem; */
  align-content: center;
}

header > span {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  font-size: 2.5rem;
}
header > div {
  display: flex;
  flex: 2;
  /* justify-content: space-around; */
  gap: 55px;
  padding: 10px;
}
header input {
  display: flex;
  flex: 1;
  /* margin: 10px; */
  border: 2px solid black;
}
header > button {
  align-self: center;
  display: flex;
  flex: 1;
}
.btn-simple {
  /* width: 12em; */
  /* width: 4.5em; */

  border: 3px solid black;
  background-color: #2260dd;
  color: whitesmoke;
  box-shadow: 5px 5px black;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.5rem;
}
.right .btn-simple {
  padding: 0.5rem 1.7rem;
  background-color: #93c47d;
  color: black;
  font-size: 1.1rem;
}

.btn-simple,
#search {
}
