body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
.nav {
    display: flex;
    /* justify-content: space-between; */
    background-color: #333;
    color:white;
    padding: 0px 10%;
    justify-content: center;
}
.nav-title {
    flex: 0 0 content;
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 15px;
}
.nav-links {
    flex: 1 1 auto;
    display:flex;
    list-style-type: none;
    gap: 0px 30px;
    margin: 0px;
}
.nav>* {
    border: 2px dotted yellow;
}
.nav>button {
    flex: 0 0 content;
    align-self: center;
    /* align-items: center; */
}
li {
    display: flex;
    align-items: center;
}
a, button {
    font-size: large;
}
a {
    color:white;
    text-decoration: none;
}
button {
    width: 12em;
    height: 2.2em;
    border: 3px solid black;
    background-color: #17A2B8;
    color: whitesmoke;
    box-shadow: 3px 3px black;
}
